doctype 5
html
  head
    title Mejor vehículo 2015/16
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Mejor vehículo de este año
      #content
        block content
      #footer
        a(href="https://github.com/sn1k/web_opiniones") Este proyecto en GitHub.
