doctype 5
html
  head
    title Comentarios sobre libros 2015/16
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Mejor libro de este año
      #content
        block content
      #footer
        a(href="https://github.com/sn1k/weblibros") Este proyecto en GitHub.
